# Eclipse project specific files
.settings/
.classpath
.project
.factorypath

# Build output directory
/bin/

# Eclipse metadata folder
.metadata/

# Temporary files
tmp/
*.tmp
*.bak
*.swp
*~
*.log
*.log.*
*.tmp.*
*.bak.*
*.swp.*
*~

# Dependency management files (Maven/Gradle)
target/
build/
.gradle/
.mvn/

# IDE-specific files (Mylyn/Code Recommenders)
.mylyn/
.recommenders/

# External JAR libraries
*.jar

